* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: white;
}
a {
  text-decoration: none;
  color: black;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 16px;
}

/* @@@@@@@@@@@@@@ Navbar section css @@@@@@@@@@@@@@@@@@@ */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 95px;
}

.navbar-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-content li {
  list-style: none;
  font-size: 18px;
  font-weight: bold;
}
a.active,
a:hover{
  color: #f94743;
  transition: 0.5s;
}

.navbar-content li a{
text-align: center;
line-height: 0px;
}

.navbar-btn {
  background: linear-gradient(
    90deg,
    rgba(249, 71, 67, 1) 0%,
    rgba(227, 85, 30, 1) 35%,
    rgb(240, 119, 54) 100%
  );
  padding: 13px 22px;
  border: none;
  outline: none;
  border-radius: 7px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow:10px 10px 15px 0px #FDC0BF ;
}
.checkBtn {
  font-size: 30px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}
.apps{
  color: #f94f41;
  font-size: 30px;
  cursor: pointer;
}

/* @@@@@@@@@@@@@@ Hero section css @@@@@@@@@@@@@@@@@@ */
 .hero-section {
  background-image: url(Assets/banner.png);
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
} 

.hero-text{
  position: absolute;
  bottom: 30%;
  color: white;
}
.sub-title{
  font-size: 18px;
}
.hero-text h1{
 font-size: 64px;
 line-height: 70px;
 padding-top: 20px;
 padding-bottom: 27px;
}
.date{
  font-size: 24px;
}
.place{
  font-size: 16px;
}
.speaker-img{
  position: absolute;
  right: 22%;
  bottom: -7px;
}
.play{
  position: absolute;
  left: 53%;
  top: 45%;
}
.info-list{
  margin-left: 22px;
  line-height: 35px;
}

.flex{
  display: flex;
  margin-top: 50px;
  margin-left: 5px;
  color: white;


}

.flex button{
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 20px 45px;
  border: 0;
  border-radius: 5px;
  background-color: black;
  font-size: 16px;
  color: white;
  box-shadow:10px 10px 15px 0px #C84308 ;
}
.flex p{
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 20px;
}
.event-img{
  position: absolute;
  top: 73%;
  left: 58%;
}

.g-image{
  position: absolute;
  left: 222px;
  top: -5px;
}
.shape-2{
  position: absolute;
  top: 124px;
  left: 55%;
}
.shape-3{
  position: absolute;
  top: 100px;
  left: 70%;
}
.shape-4{
  position: absolute;
  top: 300px;
  left: 60%;
}
.shape-5{
  position: absolute;
 bottom: 70px;
  left: 36%;
}
.shape-6{
  position: absolute;
  bottom: 12%;
  right: 70px;
}


/* @@@@@@@@@@@@@@@ Fun fact section css @@@@@@@@@@@@@@@@@@ */
 .fun-facts {
  background-image: url('/Assets/fun-ng.png');
  height: 675px;
  position: relative;
  background-position:center;
}

.box-img {
position: absolute;
top: 90px;
left: 335px;

}
.fun-texts{
  position: relative;
  display: grid !important;
  grid-template-columns:repeat(3,1fr);
  gap: 50px;
  align-items: center;
  padding-top: 150px;
}
.first-texts h2{
  font-size: 48px;
  line-height: 60px;
}
 

.details-card {
  text-align: left;
  width: 1200px;
  height: 150px;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  right: 0;
  padding-left: 50px;
  border-radius: 7px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.img-opacity {
  opacity: 0.6;
}
.details-card-item h3 {
  font-size: 48px;
  font-weight: bold;
  color: #f94743;
}
.details-card-item p {
  font-weight: bold;
  font-size: 18px;
}


/* @@@@@@@@@@@@@@@@@@ gallery section css @@@@@@@@@@@@@@@@@ */
.gallery-section{
position: relative;
}
.gallery-img{
  position: absolute;
  top: 100px;
  left: 17%;
}
.gallery-cards{
  position: relative;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  padding-top: 160px;
  padding-bottom: 150px;
}
.card h1{
  font-size: 48px;
  line-height: 55px;
}
.card h2{
  font-size: 24px;
}
.mail{
  padding-top: 80px;
  padding-left: 20px;
}

.counter-section{
  background-image: url(Assets/counter-bg.png);
  height: 420px;
  position: relative;
  object-fit: cover;
}
.counters {
  display: flex;
  justify-content: space-between;

}
.counter-man img{
  position: absolute;
  top: -50px;
}
.counter-flex{
  padding-top: 70px;
  padding-bottom: 80px;
}
.counter-number{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

}
.counter-text{
  margin-bottom: 35px;
}
.numbers h1{
font-size: 64px;
line-height: 60px;
}
.numbers p{
color: #f94743;
font-weight: bold;
}

.dot{
  color: #f94743;
  font-size: 36px;
}

.counter-btn{
  background: linear-gradient(
    90deg,
    rgba(249, 71, 67, 1) 0%,
    rgba(227, 85, 30, 1) 35%,
    rgb(240, 119, 54) 100%
  );
  display: flex;
  align-items: center;
  margin-top: 30px;
  border: 0;
  padding: 20px 30px;
  gap: 10px;
  color: white;
  border-radius: 5px;
 font-size: 16px;
 box-shadow:10px 10px 15px 0px #EFD0D2 ;

}

/* !!!!!!!!!!!!!! Extra small devices !!!!!!!!!!!! */
@media only screen and (min-width: 200PX) and (max-width: 600px) {

/* @@@@@@@@@@@@@ header section css @@@@@@@@@@@@@@@@ */
  .navbar-content {
    z-index: 1111;
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #2EAB98;
    top: 80px;
    left: -800px;
    transition: all 0.5s;
    text-align: center;
    margin-top: 10px;
  
  }
  .navbar-content li {
    margin: 50px 0;
    display: block;
    line-height: 30px;
  }

  #check:checked ~ ul {
    left: 0;
  }
  .checkBtn {
    display: block;
    color: #f94f41;
  }

  .navbar-btn{
   margin: 0 auto;
   box-shadow: none;
  }
  .apps{
  display: none;
}

/* @@@@@@@@@@@@@@@ Hero section css @@@@@@@@@@@@@@ */
.hero-text{
position: absolute;
top: 5%;
  }
 .shape-2, .shape-4, .shape-5, .shape-6, .g-image{
  display: none;
}

.flex{
  margin-top: 20px;
  display: block;
}

.sub-title{
  font-size: 16px;
}
.hero-text h1{
 font-size: 34px;
 line-height: 40px;
}
.date{
  font-size: 18px;
}
.place{
  font-size: 14px;
}

.flex button{
  padding: 15px 35px;
  font-size: 14px;
}
.flex p{
font-size: 14px;
margin-top: 10px;
}

.speaker-img img{
  width: 150px;
 margin-left: -200px;

}
.event-img{
  width: 100%;
  left: 0;
}
.play{
  left: 50%;
   top: 40%;
}
.shape-3{
top: 31%;
left: 80%;
}

/* @@@@@@@@@@@@@ fun fact section css @@@@@@@@@@@@@@@ */

.fun-texts{
  grid-template-columns:repeat(1,1fr);
  padding:20px;
}
.box-img img{
 width: 100px !important;
}
.box-img{
 left: 10px;
 top: 70px;
}
.first-texts{
margin-top: 50px;
}
.first-texts h2{
font-size: 34px;
line-height: 40px;
}
.second-texts p , .third-texts p{
  font-size: 15px;
}
.details-card {
  width: 95%;
  margin: 0px  10px 0px 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.details-card img {
  display: none;
}
.details-card-item {
  flex: 20%;
}
.details-card-item h3 {
  font-size: 20px;
  font-weight: bold;
  color: #f94743;
}
.details-card-item p {
  font-weight: bold;
  font-size: 12px;
}

/* @@@@@@@@@@@@@@@ Gallery css @@@@@@@@@@@@@@@@@ */
.gallery-cards{
  grid-template-columns: repeat(1,1fr);
  margin-left:50px ;
}
.gallery-img{
  top: 100px;
  left:20px;
}
.card h1{
  font-size: 34px;
  line-height: 40px;
}
.mail{
  padding: 0;
}

/* @@@@@@@@@@@@@@@@@ counter section css @@@@@@@@@@@@@@@@@@ */
.counter-section{
  height:500px;
}
.counter-man img{
  width: 180px;
  right: 25%;
}

.counter-flex{
  margin-top: 160px;
}
.counter-text h2{
font-size: 18px;
}
.counter-number{
 gap: 10px;
}
.numbers h1{
font-size: 34px;
}
.counter-text{
  margin-bottom: 5px;
}

.counter-btn{
  padding:15px ;
}

}
 /* !!!!!!!!!!!!!!!!!! TAblet mode !!!!!!!!!!!!!!!!!!!!!! */
 @media only screen and (min-width: 600PX) and (max-width: 768px){
  /* @@@@@@@@@@@@ Navbar section @@@@@@@@@ */
  .navbar-content {
    z-index: 1111;
    display: block;
    position: fixed;
    width: 100%;
    height: 700px;
    background-color: #2EAB98;
    top: 80px;
    left: -1800px;
    transition: all 0.5s;
    text-align: center;
    margin-top: 10px;
  
  }
  .navbar-content li {
    margin: 50px 0;
    display: block;
    line-height: 30px;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .checkBtn {
    display: block;
    color: #f94f41;
  }

  .navbar-btn{
   margin: 0 auto;
   box-shadow: none;
  }
  .apps{
   display: none;
   }

/* @@@@@@@@@@@@@@@@@ Hero section CSS @@@@@@@@@@@@@*/
.hero-section{
  height: 600px;

}
.hero-text{
  position: absolute;
  top:15%;
    }
  .flex{
    margin-top: 20px;
    display: block;
  }
  
  .hero-text h1{
   font-size: 50px;
 
  }
  .date{
    font-size: 20px;
  }
 
  .flex button{
    padding: 15px 35px;
    font-size: 15px;
  }
  .flex p{
  margin-top: 10px;
  }
 
  .speaker-img img{
   width: 200px;
   margin-right: -150px;
 
  }
  .event-img{
    width: 100%;
    left: 0;
  }
  .play{
    left: 50%;
    top: 40%;
  }
  .shape-3{
  top: 31%;
  left: 80%;
  }
  .shape-4{
  top: 10%;
  left: 70%;
  }
  .shape-5{
   left: 8%;
   bottom: 8%;
  }
  
  .shape-6{
  display: none;
  }
  .event-img{
   width: 500px;
 left: 35%;
  }
.g-image{
  left: -60px;
  top:-40px;
}

/* @@@@@@@@@@@@@ fun fact section css @@@@@@@@@@@@@@@@ */

.fun-texts{
 grid-template-columns:repeat(1,1fr);
 padding-left: 40px !important;
 gap: 30px;
 padding-top: 100px;
}
.box-img img{
 width: 100px !important;
}
.box-img{
 left: 20px;
 top: 70px;
}

.first-texts h2{
font-size: 34px;
line-height: 40px;
}

.details-card {
  width: 90%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-right: 50px;
  margin-top: 25px;
}

.details-card img {
  display: none;
}
.details-card-item {
  flex: 25%;
}
.details-card-item h3 {
  font-size: 30px;
  font-weight: bold;
  color: #f94743;
}
.details-card-item p {
  font-weight: bold;
  font-size: 16px;
}

/* @@@@@@@@@@@ Gallery css @@@@@@@@@@@@@@ */
.gallery-cards{
  grid-template-columns: repeat(3,1fr);

}
.card img{
  width: 100%;
}
.gallery-img{
left: 10px;
top: 130px;
}
.card h1{
font-size: 25px;
line-height: 30px;
}
.photo{
  font-size: 16px;
}

/* @@@@@@@@@@@@@@ counter section css @@@@@@@@@@@@@@@@@@ */
.counter-section{
height: 300px;
}
.counter-man img{
width:250px;
left: 10%;
}

.counter-flex{
padding: 0 ;

}
.counter-text h2{
font-size: 20px;
}
.counter-number{
gap: 10px;
}
.numbers h1{
font-size: 40px;
}
.numbers p{
  font-size: 16px;
}
.counter-btn{
padding: 10px 15px;
}

 }

 /* Large devices (laptops/desktops, 992px and up)  */
@media only screen and (min-width:769px) and (max-width: 992px) {

  .event-img{
   left: 25%;
  }
  .speaker-img{
    left: 70%;
  }
   .g-image{
     top: -30px;
     left: -100px;
   }
   .shape-4{
     display: none;
   }
   .shape-6{
   right: 20px;
   }

/* fan */

.first-texts h2{
  font-size: 34px;
  line-height: normal;
}
.box-img{
  left: 10px;
}
.details-card{
  width: 90%;
  margin-right: 50px;
  bottom: 110px;
  position: absolute;
}


/* @@@@@@@@@@@ Gallery css @@@@@@@@@@@@@@ */
.gallery-cards{
  grid-template-columns: repeat(3,1fr);

}
.card img{
  width: 100%;
}
.gallery-img{
left: 5px;
}
.numbers h1{
  font-size: 35px;
}
}
