* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: white;
}
a {
  text-decoration: none;
  color: black;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 16px;
}
.checkbtn {
  font-size: 30px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}
a.active,
a:hover {
  color: #f94f41;
  transition: 0.4s;
}

.apps{
  color: #f94f41;
  font-size: 30px;
  cursor: pointer;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 95px;
}

.navbar-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-content li {
  list-style: none;
  font-size: 18px;
  font-weight: bold;
}

 .navbar-content li a::after{
  content: "";
  display: block;
  width: 10px;
  margin: 0 auto;
  border-bottom: 4px dotted #f94743;
 
}

.navbar-content li a{
text-align: center;
line-height: 0px;
}

.navbar-btn {
  background: linear-gradient(
    90deg,
    rgba(249, 71, 67, 1) 0%,
    rgba(227, 85, 30, 1) 35%,
    rgb(240, 119, 54) 100%
  );
  padding: 13px 22px;
  border: none;
  outline: none;
  border-radius: 7px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow:10px 10px 15px 0px #FDC0BF ;
}

 .hero-section {
  background-image: linear-gradient(
      90deg,
      #fd5806d2,
      #ee171bdc
    ),
    url(./Assets/header/top_img.png);
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;


} 

.hero-text{
  position: absolute;
  bottom: 30%;
  color: white;
}
.sub-title{
  font-size: 18px;
}
.hero-text h1{
 font-size: 64px;
 line-height: 70px;
 padding-top: 20px;
 padding-bottom: 27px;
}
.date{
  font-size: 24px;
}
.place{
  font-size: 16px;
}
.hero-img{
  position: absolute;
  right: 22%;
  bottom: -7px;
}
.play{
  position: absolute;
  left: 53%;
  top: 45%;
}
.info-list{
  margin-left: 22px;
  line-height: 35px;
}

.flex{
  display: flex;
  margin-top: 50px;
  margin-left: 5px;
  color: white;


}

.flex button{
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 20px 45px;
  border: 0;
  border-radius: 5px;
  background-color: black;
  font-size: 16px;
  color: white;
}
.flex p{
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 20px;
}
.event-img{
  position: absolute;
  top: 73%;
  left: 58%;
}

.g-image{
  position: absolute;
  left: 222px;
  top: -5px;
}
.shape-2{
  position: absolute;
  top: 124px;
  left: 55%;
}
.shape-3{
  position: absolute;
  top: 100px;
  left: 70%;
}
.shape-4{
  position: absolute;
  top: 300px;
  left: 60%;
}
.shape-5{
  position: absolute;
 bottom: 70px;
  left: 36%;
}
.shape-6{
  position: absolute;
  bottom: 12%;
  right: 70px;
}


/* fun facts css */
 .fun-facts {
  background-color: #f0f3f6;
  height: 670px;
  position: relative;
}

.fun-img-left {
  position: absolute;
  left: 0;
}
.fun-img-right {
  position: absolute;
  right: 0;
}


.box-img{
position: absolute;
top: 85px;
left: 335px;
z-index: 1;
}
.fun-texts{

  display: grid !important;
  grid-template-columns:repeat(3,1fr);
  gap: 50px;
  align-items: center;
  padding-top: 150px;
  z-index: 5;
}
.first-texts h2{
  font-size: 48px;
  line-height: 60px;
}
 

.details-card {
  text-align: left;
  width: 1025px;
  height: 150px;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  right: 0;
  padding-left: 50px;
  border-radius: 7px;
  margin-top: 45px;
}
.details-card-item {
  
}

.img-opacity {
  opacity: 0.6;
}

.details-card-item h3 {
  font-size: 48px;
  font-weight: bold;
  color: #f94743;
}
.details-card-item p {
  font-weight: bold;
  font-size: 18px;
}

/*

.counters {
  background-color: #f0f3f6;
  height: 420px;
  position: relative;
  margin: 100px 0;
}

.counters-image {
  position: absolute;
  top: -60px;
}

.counters-img-left {
  position: absolute;
  left: 0;
  height: 100%;
}
.counters-img-right {
  position: absolute;
  right: 0;
  height: 100%;
}

.next-speaker {
  width: 600px;
  position: absolute;
  top: 20%;
  left: 50%;
}

.next-speaker h2 {
  padding-right: 30px;
}
.next-speaker button {
  margin-top: 20px;
}

.counters-time {
  display: flex;
  align-items: center;

  text-align: left;
}

.counters-time-item {
  flex: 14%;
}
.counters-time-item h3 {
  font-size: 60px;
}
.counters-time-item p {
  color: #f94743;
} */

/* .colon-color {
  color: #f94743;
  font-weight: bold;
  font-size: 25px;
} */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* navbar css */
  .navbar-content {
    z-index: 1111;
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #2EAB98;
    top: 80px;
    left: -800px;
    transition: all 0.5s;
    text-align: center;
    margin-top: 10px;
  }
  .navbar-content li {
    margin: 50px 0;
    display: block;
    line-height: 30px;
  }

  #check:checked ~ ul {
    left: 0;
  }
  .checkbtn {
    display: block;
    color: #f94f41;
  }

  .navbar-btn{
   margin: 0 auto;
   box-shadow: none;
  }
.apps{
  display: none;
}
  /* Hero section  */
  /* .hero-text {
    padding-top: 100px;
  }

  .hero-text-wrapper {
    text-align: center;
  }

  .hero-title {
    font-size: 40px;
  }

  .hero-cart {
    flex-direction: column;
    justify-content: center;
  }

  .speaker-img {
    width: 130px;
    right: 30%;
  }

  .event-img {
    width: 100%;
  }

  .shape-img-2 {
    top: 50px;
  }
  .shape-img-3 {
    top: 60px;
  }
  .shape-img-6 {
    left: 30%;
  }
  .shape-img-4,
  .shape-img-5 {
    display: none;
  }

  /* fun fact section */
  /* .fun-texts {
    flex-direction: column;
    gap: 0px;
    padding-top: 30px;
  }

  .fun-img-right {
    display: none;
  }

  .fun-img-left {
    width: 100%;
  }

  .first-texts {
    padding: 20px 10px 0 10px;
  }
  .second-texts {
    padding: 20px 10px 0 10px;
  }

  .details-card {
    width: 390px;
    height: 100px;
    margin-top: 30px;
    position: sticky;
    margin: 30px auto;
    border-radius: 7px;
  }

  .details-card img {
    display: none;
  }
  .details-card-item {
    flex: 20%;
  }
  .details-card-item h3 {
    font-size: 20px;
    font-weight: bold;
    color: #f94743;
  }
  .details-card-item p {
    font-weight: bold;
    font-size: 12px;
  }

  /* counters section  */

  /* .counters-img-left {
    display: none;
  }
  .counters-img-right {
    width: 100%;
  }

  .next-speaker {
    width: 390px;
  }

  .counters-image {
    width: 150px;
    right: 30%;
  }

  .next-speaker {
    width: 300px;
    top: 40%;
    left: 15%;
  }

  .next-speaker h2 {
    padding: 20px 10px 0 0;
    font-size: 20px;
  }
  .next-speaker button {
    margin-top: 0px;
  }

  .counters-time-item h3 {
    font-size: 10px;
  }
  .counters-time-item p {
    font-size: 10px;
  }

  .colon-color {
    font-size: 10px;
  }

  .counters-time {
    margin-bottom: 10px;
  } */
/* } */
/* @media only screen and (max-width: 768px) {
 
  .navbar-content {
    z-index: 1111;
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(115, 119, 122);
    top: 80px;
    left: -800px;
    transition: all 0.5s;
    text-align: center;
    margin-top: 10px;
  }
  .navbar-content li {
    margin: 50px 0;
    display: block;
    line-height: 30px;
  }

  #check:checked ~ ul {
    left: 0;
  }
  .checkbtn {
    display: block;
  }

  /* Hero section  */
  /* .hero-text {
    padding-top: 100px;
  }

  .hero-text-wrapper {
    text-align: center;
  }

  .hero-title {
    font-size: 40px;
  }

  .hero-cart {
    flex-direction: column;
    justify-content: center;
  }

  .speaker-img {
    width: 130px;
    right: 10%;
  }

  .event-img {
    width: 100%;
  }

  .shape-img-2 {
    top: 50px;
  }
  .shape-img-3 {
    top: 60px;
  }
  .shape-img-6 {
    left: 30%;
  }
  .shape-img-4,
  .shape-img-5 {
    display: none;
  }  */

  /* fun fact section */
/* 
  .fun-facts{
    height: 600px
  }
  .fun-texts {
    flex-direction: column;
    gap: 0px;
    padding-top: 30px;
  }

  .fun-img-right {
    display: none;
  }

  .first-texts {
    padding: 20px 10px 0 10px;
  }
  .second-texts {
    padding: 20px 10px 0 10px;
  }

  .details-card {
    width: 390px;
    height: 100px;
    margin-top: 30px;
    position: sticky;
    margin: 30px auto;
    border-radius: 7px;
  }

  .details-card img {
    display: none;
  }
  .details-card-item {
    flex: 20%;
  }
  .details-card-item h3 {
    font-size: 20px;
    font-weight: bold;
    color: #f94743;
  }
  .details-card-item p {
    font-weight: bold;
    font-size: 12px;
  }

  /* counters section  */
/* 
  .counters-img-left {
    display: none;
  }
  .counters-img-right {
    width: 100%;
  }

  .next-speaker {
    width: 300px;
  }

  .next-speaker h2 {
    padding: 20px 10px 0 0;
    font-size: 20px;
  }
  .next-speaker button {
    margin-top: 0px;
  }

  .counters-time-item h3 {
    font-size: 10px;
  }
  .counters-time-item p {
    font-size: 10px;
  }

  .colon-color {
    font-size: 10px;
  }

  .counters-time {
    margin-bottom: 10px;
  }
} */

/* Large devices (laptops/desktops, 992px and up)  */
/* @media only screen and (max-width: 992px) { */

  /* navbar css */
  /* .navbar-content {
    z-index: 1111;
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(115, 119, 122);
    top: 80px;
    left: -1000px;
    transition: all 0.5s;
    text-align: center;
    margin-top: 10px;
  }
  .navbar-content li {
    margin: 50px 0;
    display: block;
    line-height: 30px;
  }

  .navbar-btn{
    margin: 0 auto;
  }

  #check:checked ~ ul {
    left: 0;
  }
  .checkbtn {
    display: block;
  }

  .next-speaker {
    width: 300px;
  }

  .next-speaker h2 {
    padding: 20px 10px 0 0;
    font-size: 20px;
  }
  .next-speaker button {
    margin-top: 0px;
  }

  .counters-time-item h3 {
    font-size: 20px;
  }
  .counters-time-item p {
    font-size: 10px;
  }

  .colon-color {
    font-size: 10px;
  }

  .counters-time {
    margin-bottom: 10px;
  }
  
  .details-card {
    width: 450px;
    height: 100px;
    margin-top: 30px;
    position: sticky;
    margin: 30px auto;
    border-radius: 7px;
  }

  .details-card img {
    display: none;
  }
  .details-card-item {
    flex: 20%;
  }
  .details-card-item h3 {
    font-size: 20px;
    font-weight: bold;
    color: #f94743;
  }
  .details-card-item p {
    font-weight: bold;
    font-size: 12px;
  }

} */

/* @media only screen and (MAX-width: 1200px) {
  .next-speaker {
    
    width: 350px;

  }

  
  .next-speaker h2 {
    padding: 20px 10px 0 0;
    font-size: 20px;
  }
  .next-speaker button {
    margin-top: 0px;
  }

  .counters-time-item h3 {
    font-size: 10px;
  }
  .counters-time-item p {
    font-size: 10px;
  }

  .colon-color {
    font-size: 10px;
  }

  .counters-time {
    margin-bottom: 10px;
  }

} */
